# 𝓛𝓸𝓰𝓼
𝓵𝓸𝓰𝓼
*.𝓵𝓸𝓰
𝓷𝓹𝓶-𝓭𝓮𝓫𝓾𝓰.𝓵𝓸𝓰*
.𝓹𝓷𝓹𝓶-𝓭𝓮𝓫𝓾𝓰.𝓵𝓸𝓰*

# 𝓓𝓲𝓪𝓰𝓷𝓸𝓼𝓽𝓲𝓬 𝓻𝓮𝓹𝓸𝓻𝓽𝓼 (𝓱𝓽𝓽𝓹𝓼://𝓷𝓸𝓭𝓮𝓳𝓼.𝓸𝓻𝓰/𝓪𝓹𝓲/𝓻𝓮𝓹𝓸𝓻𝓽.𝓱𝓽𝓶𝓵)
𝓻𝓮𝓹𝓸𝓻𝓽.[0-9]*.[0-9]*.[0-9]*.[0-9]*.𝓳𝓼𝓸𝓷

# 𝓡𝓾𝓷𝓽𝓲𝓶𝓮 𝓭𝓪𝓽𝓪
𝓹𝓲𝓭𝓼
*.𝓹𝓲𝓭
*.𝓼𝓮𝓮𝓭
*.𝓹𝓲𝓭.𝓵𝓸𝓬𝓴

# 𝓒𝓸𝓶𝓹𝓲𝓵𝓮𝓭 𝓫𝓲𝓷𝓪𝓻𝔂 𝓪𝓭𝓭𝓸𝓷𝓼 (𝓱𝓽𝓽𝓹𝓼://𝓷𝓸𝓭𝓮𝓳𝓼.𝓸𝓻𝓰/𝓪𝓹𝓲/𝓪𝓭𝓭𝓸𝓷𝓼.𝓱𝓽𝓶𝓵)
𝓫𝓾𝓲𝓵𝓭/𝓡𝓮𝓵𝓮𝓪𝓼𝓮

# 𝓓𝓮𝓹𝓮𝓷𝓭𝓮𝓷𝓬𝔂 𝓭𝓲𝓻𝓮𝓬𝓽𝓸𝓻𝓲𝓮𝓼
𝓷𝓸𝓭𝓮_𝓶𝓸𝓭𝓾𝓵𝓮𝓼/
𝓳𝓼𝓹𝓶_𝓹𝓪𝓬𝓴𝓪𝓰𝓮𝓼/

# 𝓣𝔂𝓹𝓮𝓢𝓬𝓻𝓲𝓹𝓽 𝓬𝓪𝓬𝓱𝓮
*.𝓽𝓼𝓫𝓾𝓲𝓵𝓭𝓲𝓷𝓯𝓸

# 𝓞𝓹𝓽𝓲𝓸𝓷𝓪𝓵 𝓷𝓹𝓶 𝓬𝓪𝓬𝓱𝓮 𝓭𝓲𝓻𝓮𝓬𝓽𝓸𝓻𝔂
.𝓷𝓹𝓶

# 𝓞𝓹𝓽𝓲𝓸𝓷𝓪𝓵 𝓮𝓼𝓵𝓲𝓷𝓽 𝓬𝓪𝓬𝓱𝓮
.𝓮𝓼𝓵𝓲𝓷𝓽𝓬𝓪𝓬𝓱𝓮

# 𝓞𝓹𝓽𝓲𝓸𝓷𝓪𝓵 𝓼𝓽𝔂𝓵𝓮𝓵𝓲𝓷𝓽 𝓬𝓪𝓬𝓱𝓮
.𝓼𝓽𝔂𝓵𝓮𝓵𝓲𝓷𝓽𝓬𝓪𝓬𝓱𝓮

# 𝓞𝓾𝓽𝓹𝓾𝓽 𝓸𝓯 '𝓷𝓹𝓶 𝓹𝓪𝓬𝓴'
*.𝓽𝓰𝔃

# 𝓭𝓸𝓽𝓮𝓷𝓿 𝓮𝓷𝓿𝓲𝓻𝓸𝓷𝓶𝓮𝓷𝓽 𝓿𝓪𝓻𝓲𝓪𝓫𝓵𝓮 𝓯𝓲𝓵𝓮𝓼
.𝓮𝓷𝓿
.𝓮𝓷𝓿.𝓭𝓮𝓿𝓮𝓵𝓸𝓹𝓶𝓮𝓷𝓽.𝓵𝓸𝓬𝓪𝓵
.𝓮𝓷𝓿.𝓽𝓮𝓼𝓽.𝓵𝓸𝓬𝓪𝓵
.𝓮𝓷𝓿.𝓹𝓻𝓸𝓭𝓾𝓬𝓽𝓲𝓸𝓷.𝓵𝓸𝓬𝓪𝓵
.𝓮𝓷𝓿.𝓵𝓸𝓬𝓪𝓵

# 𝓓𝓸𝓷'𝓽 𝓵𝓮𝓪𝓴 𝓸𝓾𝓽 𝓫𝓸𝓽 𝓬𝓻𝓮𝓭𝓮𝓷𝓽𝓪𝓲𝓵𝓼
𝓭𝓫

# ???
𝓷𝓸𝓽𝓮𝓹𝓪𝓭.𝓽𝔁𝓽
𝓫𝓸𝓽.𝓳𝓼𝓸𝓷